{
  "presets": ["@babel/preset-env", "react-app", "@babel/typescript"],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    "babel-plugin-minify-dead-code-elimination"
  ]
}
