{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "react-app", "kentcdodds"],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "plugins": ["react"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/jsx-boolean-value": 0,
    "react/no-adjacent-inline-elements": "off",
    "valid-jsdoc": ["warn"],
    "no-bitwise": "off",
    "no-negated-condition": "off",
    "arrow-parens": "error",
    "no-console": "warn",
    "no-eval": "error",
    "no-debugger": "error",
    "no-unused-vars": "error"
  }
}
